<section class="description-me">
    <div class="img-description">
        <img class="img-principal" ngSrc="./assets/principal-white.png" width="569" height="436"/>
    </div>
    <div class="sobre-me">
        <h2>Olá, me chamo Breno!</h2>
        <p>A fotografia entrou na minha vida de forma natural, quase como um chamado. Tudo começou na minha igreja, onde tive o primeiro contato com uma câmera e, desde então, algo dentro de mim despertou. O que era apenas curiosidade se transformou em paixão. Através das lentes, descobri que podia eternizar momentos, sentimentos e histórias — e foi aí que nasceu a <b>FOCUS</b>.
        </p>
    </div>
</section>
