<app-header></app-header>

<main>
    <section class="main-section pad-70">
        <div class="readLine">
            <span>KIPPER CONSULTORIA</span>
            <h1>A consultoria que você busca para seu software</h1>
        </div>
        <img class="img-principal" ngSrc="./assets/principal.png" width="569" height="436"/>
    </section>
    <section class="benefit-section pad-70">
        <div class="benefit-data">
            <h2>
                95% das <br/>
            empresas
            </h2> 
        </div>    
        <p>nao sabem como lidar com problemas de <b>escalabilidade</b> e grande volume de requicoes.</p>
    </section>
</main>
