
@import "../../../color-variables";

main{
    display: flex;
    flex-direction: column;
        
}
.main-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    font-family: 'Roboto', sans-serif;
    padding: 30px;
    height: 580px;
    gap: 20px;
    width: 100%;

    span{
        font-size: 15px;
        font-weight: 700;
        color: $secondary-text;
    }

    h1{
        font-size: 35px;
        line-height: 40px;
        font-weight: 900;
        color: $primary-text;
    }

    .img-principal{
        width: 400px;
        height: auto;
    }
}



@media (min-width: 768px){
    .main-section{
        padding: 0 70px 20px;
        flex-direction: row;
        
        span{
        font-size: 20px;
        font-weight: 700;
        color: $secondary-text;
        }

         h1{
        font-size: 60px;
        font-weight: 900;
        line-height: 70px;
        color: $primary-text;
        }

        .img-principal{
        width: 700px;
        height: auto;
    }
    }

    
   
}