$primary-text: hsl(0, 0%, 0%);         // Texto principal branco
$secondary-text: #585454;       // Texto secundário levemente mais suave que o branco puro
$primary-color: #D4AF37;        // Dourado vibrante para destaques (ex: botões, links)
$secondary-color: #B8860B;      // Dourado escuro para detalhes e efeitos hover
$light-primary-color: #F5DEB3;  // Dourado claro para pequenos destaques ou hover
$bg-secondary: #000000;         // Fundo escuro principal (preto absoluto)
